.DS_Store
build/
xcuserdata/
*.xcworkspace/
*.hmap
*.dSYM.zip
*.dSYM
Engines/**/_storage/

# Downloaded external resources (managed by Scripts/HandleExternalResources.sh).
MacishType/Resources/AssociatedDictionary.*.txt
MacishType/Resources/WordFrequency.*.txt
MacishType/Resources/SymbolNames.*.txt
MacishType/ArrayEngine/Resources/Array30.txt
MacishType/ArrayEngine/Resources/ArraySymbol.txt
MacishType/ArrayEngine/Resources/ArrayShortCode.txt
MacishType/ArrayEngine/Resources/ArrayPhrase.txt
MacishType/**/Resources/*.LICENSE.txt
