.DS_Store
build/
xcuserdata/
*.xcworkspace/
*.hmap
*.dSYM.zip
*.dSYM
Engines/**/_storage/

# Downloaded external resources (managed by Scripts/HandleExternalResources.sh).
MacishType/Resources/AssociatedPhrases.*.txt
MacishType/Resources/**/*.LICENSE.txt
