<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).App</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).InputController</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSUIElement</key>
	<true/>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon.tiff</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>net.lukechang.inputmethod.MacishType.Example</string>
		</array>
		<key>tsInputModeListKey</key>
		<dict>
			<key>net.lukechang.inputmethod.MacishType.Example</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.lukechang.inputmethod.MacishType.Example</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Example/ExampleMenuIcon.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Example/ExampleMenuIcon.tiff</string>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>範例</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
